.todo-is-completed input {
  text-decoration: line-through;
}
 .container{
   box-sizing: border-box;
  border-style: none;
 align-content: center;
 margin-top: 70px;
 /*padding-top: 100 px;*/
  }
.app-wrapper{
  background-color: rgb(230, 236, 240);
  border-style: ridge;
  width: 30%;
  margin: auto;
  }
/* Style the header */
.header {
  background-color: #178ff1;
  padding: 10px 20px;
  color: rgb(44, 39, 39);
  text-align: center;
  font-style: normal;
  border-style: ridge;
}

.header-container{
  display:block;
  position:relative;
}

.list-header{
  display: inline-flex;
  padding-left: 50px;
  float:Center;
  align-content: center;
  font-weight:bold;
  font-size: 22px;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the input */
input {
    /*border:5px;
    border-radius: 5px;
    border-color: black;
    width:75%;
    height: 30px;
  font-size: 16px;
  background: rgb(200, 229, 231);*/
  margin: 0;
  border: 1px;
  border-color: black;
  border-radius: 5px;
  width: 75%;
  /*padding: 10px;*/
  float: left;
  font-size: 16px;
  background: white;
  height: 25px;
}

.input.input-list-text{
  border: 1px solid black;
  height: 25px;
  margin-bottom: 2px;
  border: solid;
}
.List-Block{
  background-color: rgb(226, 228, 231);
  border: 1px ridge black;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  
}
.Task-display-block{
  margin-top: 2px;
  border: ridge;
}
/* Style the input task  */
input.task-input {
  margin: 0;
  border: 5px;
  border-color: black;
  border-radius: 5px;
  width: 75%;
  /*padding: 10px;*/
  float: left;
  font-size: 16px;
  background: white;
  height: 25px;
}

/*add button */
.button-add {
  width: 50px;
  background: ##dfe0d3;
  color: rgb(2, 2, 2);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  height: 27px;
 }
/*add button : hover */
.button-add:hover {
  background-color: rgb(189, 226, 226);
}

/*input.task-input{
  border-style: groove;
  color: rgba(5, 3, 3, 0.664);
  text-align:left;
}*/
div{
  padding: right 0px;;
}
/* Remove margins and padding from the list */
ul {
  margin: 0px;
  padding: 0px;
}

/* Style the list items */
ul li {
  
  background: rgb(233, 236, 236);
  font-size: 10px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style-type: none; 
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #ccd9da;

}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(even) {
  background: #aaf6f8;
}
/* Darker background-color on hover */
ul li:hover {
  background: rgb(237, 248, 250);
}

/* When clicked on, add a background color and strike out text */
.button-complete-task-button{
  background:#c5d4e0;;
  color: rgb(13, 13, 14);
  text-align: center;
  font-size: 10px;
  width: 55px;
  height: 27px;
  background-image: url(./images/Complete_icon.png);
  
  }

/* Style the "Remove" button */
.button-remove-task-button {
  background:#dde4eb;;
  color: black;
   text-align: center;
  font-size: 10px;
  width: 49px;
  height: 27px;
  }
/* Style the "Remove" button */
.button-remove-task-button:hover {
  background-color: rgb(228, 236, 236);
}

/* Style the "Complete" button */
.button-complete-task-button:hover {
  background-color: rgb(236, 241, 241);
}


.todo-is-completed{
padding-right: 0px;
padding-left: 0px;
}